body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.carrosel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Certifique-se de que o carrossel ocupe a altura total da tela */
  overflow: hidden;
}

.imagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Certifique-se de que a imagem ocupa toda a altura do carrossel */
  background-size: cover; /* Cobre o contêiner */
  background-position: center; /* Centraliza a imagem */
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Transição suave */
}

.imagem.active {
  opacity: 1; /* Mostra a imagem ativa */
}

.squad {
  position: relative;
  z-index: 1;
  padding: 10px;
}

.squad ul {
  display: flex;
  justify-content: center;
  align-items: baseline;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.squad li {
  margin: 0 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.squad li:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.squad a {
  text-decoration: none;
}

.squad a:hover {
  color: black;
}

main {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 768px) {
  .squad ul {
    flex-direction: column;
    align-items: center;
  }

  .squad li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  main {
    padding: 10px;
  }

  .squad li {
    font-size: 14px;
    padding: 8px 10px;
  }

  .carrosel {
    height: 100vh; /* Mantenha a altura total em dispositivos móveis */
  }

  .imagem {
    height: 100%; /* Mantém as imagens ocupando toda a altura do carrossel */
  }

  .info {
    text-align: center;
    margin: 20px 0;
  }
}
